@import "tailwindcss";

html,body{
    height: 100%;
    width: 100%;
}

input{
    border: 1px solid #ccc;
    font-size: 1vw;
    width: 27vw;
    height: 5vh;
    margin-top: 2vh;
    padding: 1vw;
    outline: none;
    border: 1px solid aqua;
    border-radius: 1vw;
}

@media (max-width : 640px){
    input{
        width: 52vw;
        height: 5vh;
        border: 2px solid aqua;
        font-size: 3vw;
        padding: 3vw;
        outline: none;
    }
}