.header{
    padding: 20px;
    width: 100%;
    height: 15vh;
    border-bottom: 1px solid black; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.171);
}

.imgContainer{
    width: 5vw;
    height: 10vh;
    border-radius: 50%;
    overflow: hidden;
}

.headerImg{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.headerIcon{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 5px;
    height: 6vh;
    border: 1px solid aqua;
}

.kheaderIcon{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 5px;
    height: 6vh;
    border: 1px solid aqua;
}

.sheaderIcon{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 5px;
    height: 6vh;
    border: 1px solid aqua;
}

.rheaderIcon{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 5px;
    height: 6vh;
    border: 1px solid aqua;
    width: 10vw;
    margin-left: 10vw;
    margin-top: 7vw;
}

.headerIcon:hover{
    scale: 1.1;
    transition: 0.5s ease;
}

.rheaderIcon:hover{
    scale: 1.1;
    transition: 0.5s ease;
}

.headerLink{
    color: white;
    text-decoration: none;
}

.sheaderLink{
    color: white;
    text-decoration: none;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
    /* background-color: rgba(0, 0, 0, 0); */
}

.containerOne{
    width: 50%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.containerTwo{
    width: 30vw;
    height: 60vh;
    overflow: hidden;
}

.containerTwoImg{
    border-radius: 20px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.formBox{
    width: 20vw;
    height: 20vh;
    padding: 1vw;
}

.navBtn{
    color: white;
    background-color: black;
}

.navBtn:hover{
   cursor: pointer;
}

.Main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.152);
}

.Box{
    background-color: rgba(0, 0, 0, 0.262);
    height: 30vh;
    width: 30vw;
    border-radius: 1vw;
}

.rBox{
    background-color: rgba(0, 0, 0, 0.262);
    height: 34vh;
    width: 30vw;
    border-radius: 1vw;
}

.BtnBox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10vw;
    margin-top: 2vh;
    background-color: black; 
    padding: 1vw;
    border-radius: 1vw;
    width: 8vw;
    border: 1px solid aqua;
} 

.BtnBox:hover{
    scale: 1.1;
    transition: 0.5s ease;
    cursor: pointer;
}

.Btn{
    background-color: black;
    color: white;
    width: 100%;
    outline: none;
    border: none;
    font-size: 1.25vw;
}


.Btn:hover{
    cursor: pointer;
}

@media (max-width : 640px){
    .imgContainer{
        height: 10vh;
        width: 10vh;
    }

    .headerIcon{
        height: 6vh;
        padding: 5vw;
        display: none;
    }

    .containerTwo{
        height: 25vh;
        width: 40vw;
    }

    .Box{
        border-radius: 20px;
        height: 27vh;
        width: 65vw;
        padding: 5vw;
        border: 1px solid black;
    }

    .rBox{
        border-radius: 20px;
        height: 33vh;
        width: 65vw;
        padding: 5vw;
        border: 1px solid black;
    }

    .BtnBox{
        font-size: 5vw;
        height: 6vh;
        width: 20vw;
        margin-left: 16vw;
    }

    .Btn{
        font-size: 3vw;
    }

    .rheaderIcon{
        height: 5vh;
        padding: 4vw 7vw 4vw 7vw;
        margin-top: 26vw;
        margin-left: 20vw;
    }
}
